@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 0 0 0;
    --primary-foreground: 255 215 0;
    --secondary: 255 215 0;
    --secondary-foreground: 0 0 0;
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: rgb(var(--background));
  color: rgb(var(--primary));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora), serif;
}

